body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #e7fcff; }
  body .form-container {
    text-align: center; }
    body .form-container form {
      width: 400px;
      margin: 0 auto;
      border: 1px solid black;
      border-radius: 4px;
      background-color: #FFF;
      padding: 20px;
      margin-bottom: 10px; }
      body .form-container form h1 {
        text-align: center; }
      body .form-container form p.error {
        color: #e53935; }
      body .form-container form label {
        text-align: left;
        display: block;
        margin: 10px auto;
        width: fit-content; }
      body .form-container form input {
        display: block;
        margin: 0 auto; }
  body .dashboard {
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 0 auto; }
    body .dashboard ul {
      list-style: none;
      padding: 0;
      border: 1px solid lightgrey;
      border-radius: 4px;
      background-color: white; }
      body .dashboard ul li:not(:last-of-type) {
        border-bottom: 1px solid lightgrey; }
      body .dashboard ul li:hover {
        background-color: lightgrey; }
      body .dashboard ul li a {
        padding: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 14px; }
        body .dashboard ul li a span.game-logo {
          height: 40px;
          width: 40px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 10px; }
          body .dashboard ul li a span.game-logo.TicTacToe {
            background-image: url(Components/images/TicTacToe.png); }
          body .dashboard ul li a span.game-logo.Connect4 {
            background-image: url(Components/images/Connect4.png); }
        body .dashboard ul li a span.game-text {
          font-size: 25px; }
        body .dashboard ul li a span.time-ago {
          margin-left: 10px;
          font-size: 10px;
          font-style: italic; }
