.btn {
  color: black;
  background-color: white;
  text-decoration: none;
  opacity: .5;
  border-radius: 2px;
  transition: all .3s ease;
  padding: 10px 0;
  width: 100px;
  cursor: pointer; }
  .btn:hover {
    opacity: 1; }
  .btn.bottom {
    position: absolute;
    left: 20px;
    bottom: 20px; }

html, body, #root, .app, .dashboard, .challenge-form, .game {
  min-height: 100vh;
  position: relative; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #2196f3; }
  body .facebook {
    width: 250px;
    margin: 150px auto 0;
    cursor: pointer;
    display: block;
    border-radius: 3px; }
  body .no-facebook {
    width: 250px;
    text-align: right;
    margin: 5px auto 0;
    color: #3c5898;
    cursor: pointer; }
  body .facebook-login {
    background-image: url(Components/images/facebook_logo.svg);
    position: absolute;
    right: 5px;
    top: calc(100% + 5px);
    height: 25px;
    width: 25px;
    background-size: cover;
    cursor: pointer;
    border-radius: 2px; }
  body .form-container {
    text-align: center; }
    body .form-container form {
      position: relative;
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
      border: 1px solid black;
      border-radius: 4px;
      background-color: #FFF;
      padding: 20px;
      margin-bottom: 10px; }
      body .form-container form h1 {
        text-align: center; }
      body .form-container form p.error {
        color: #e53935; }
      body .form-container form label {
        text-align: left;
        display: block;
        margin: 10px auto;
        width: fit-content; }
      body .form-container form input {
        display: block;
        margin: 0 auto; }
  body .dashboard {
    max-width: 1440px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column; }
    body .dashboard .flash {
      color: #a94442;
      background-color: #f2dede;
      border: 1px solid #ebccd1;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
      width: 90%;
      margin: 0 auto; }
    body .dashboard .dashboard-header {
      display: flex;
      width: 90%;
      margin: 10px auto 15px;
      justify-content: space-between;
      align-items: center; }
      body .dashboard .dashboard-header .record {
        color: white;
        opacity: .9; }
        body .dashboard .dashboard-header .record h4 {
          margin: 0 0 5px; }
        body .dashboard .dashboard-header .record p {
          margin: 0; }
      body .dashboard .dashboard-header .challenge-button a {
        margin: 0 auto;
        background: white;
        opacity: .5;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #757575;
        text-decoration: none;
        font-size: 45px;
        text-transform: uppercase;
        transition: all .3s ease; }
        body .dashboard .dashboard-header .challenge-button a:hover {
          opacity: 1;
          background-color: white;
          color: black; }
    body .dashboard > div {
      width: 100%; }
      body .dashboard > div .completedGames, body .dashboard > div .activeGames {
        margin-bottom: 10px;
        width: 100%; }
      body .dashboard > div .completedGames {
        margin-bottom: 30px; }
        body .dashboard > div .completedGames ul li.your-turn, body .dashboard > div .completedGames ul li.opponent-turn {
          opacity: .9; }
          body .dashboard > div .completedGames ul li.your-turn a, body .dashboard > div .completedGames ul li.opponent-turn a {
            padding-top: 5px; }
            body .dashboard > div .completedGames ul li.your-turn a p.turn, body .dashboard > div .completedGames ul li.opponent-turn a p.turn {
              font-size: 24px;
              line-height: 28px; }
            body .dashboard > div .completedGames ul li.your-turn a p.game-text, body .dashboard > div .completedGames ul li.opponent-turn a p.game-text {
              margin-top: 0; }
      body .dashboard > div ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;
        width: 1020px; }
        @media (max-width: 1099px) {
          body .dashboard > div ul {
            width: 850px; } }
        @media (max-width: 929px) {
          body .dashboard > div ul {
            width: 680px; } }
        @media (max-width: 768px) {
          body .dashboard > div ul {
            width: 664px; } }
        @media (max-width: 703px) {
          body .dashboard > div ul {
            width: 498px; } }
        @media (max-width: 537px) {
          body .dashboard > div ul {
            width: 332px; } }
        body .dashboard > div ul li {
          background-color: white;
          width: 150px;
          margin: 0 10px 30px;
          border-radius: 4px;
          transition: all .3s ease;
          box-sizing: border-box; }
          @media (max-width: 768px) {
            body .dashboard > div ul li {
              margin-left: 8px;
              margin-right: 8px; } }
          body .dashboard > div ul li.your-turn {
            opacity: .9; }
            body .dashboard > div ul li.your-turn p.turn {
              color: #28a745; }
          body .dashboard > div ul li.opponent-turn {
            opacity: .5; }
            body .dashboard > div ul li.opponent-turn p.turn {
              color: black; }
          body .dashboard > div ul li.winner {
            border: 3px solid gold; }
          body .dashboard > div ul li.loser {
            border: 3px solid red; }
          body .dashboard > div ul li.tie {
            border: 3px solid #cd7f32; }
          body .dashboard > div ul li:hover {
            opacity: 1; }
          body .dashboard > div ul li a {
            padding: 10px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            text-align: center;
            padding-bottom: 2px; }
            body .dashboard > div ul li a .game-logo {
              display: block;
              height: 0;
              padding-bottom: 70%;
              margin: 0 auto;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center; }
              body .dashboard > div ul li a .game-logo.TicTacToe {
                background-image: url(Components/images/TicTacToe.png); }
              body .dashboard > div ul li a .game-logo.Connect4 {
                background-image: url(Components/images/Connect4.png); }
              body .dashboard > div ul li a .game-logo.Hex {
                background-image: url(Components/images/Hex.jpg); }
            body .dashboard > div ul li a p {
              margin: 0; }
              body .dashboard > div ul li a p.game-text {
                margin-top: 8px;
                margin-bottom: 8px;
                font-size: 18px;
                color: #001dbf; }
              body .dashboard > div ul li a p.time-ago {
                font-size: 10px;
                font-style: italic;
                text-align: right;
                margin-top: 8px;
                color: grey; }
              body .dashboard > div ul li a p.turn {
                font-size: 13px; }
  body .challenge-form {
    position: relative;
    text-align: center;
    max-width: 900px;
    margin: 0 auto; }
    body .challenge-form h3 {
      margin: 0;
      padding: 20px 0; }
    body .challenge-form .game-picker {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 60px; }
      body .challenge-form .game-picker .game-button-wrapper {
        text-decoration: none;
        background-color: white;
        opacity: .9;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        max-width: 250px;
        transition: all .3s ease;
        margin-bottom: 15px;
        box-sizing: border-box; }
        body .challenge-form .game-picker .game-button-wrapper:hover {
          opacity: 1; }
        body .challenge-form .game-picker .game-button-wrapper .button {
          margin-bottom: 20px;
          height: 200px;
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer; }
          body .challenge-form .game-picker .game-button-wrapper .button.TicTacToe {
            background-image: url(Components/images/TicTacToe.png); }
          body .challenge-form .game-picker .game-button-wrapper .button.Connect4 {
            background-image: url(Components/images/Connect4.png); }
          body .challenge-form .game-picker .game-button-wrapper .button.Hex {
            background-image: url(Components/images/Hex.jpg); }
    body .challenge-form .opponent-picker {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 60px; }
      body .challenge-form .opponent-picker .opponent {
        margin: 10px;
        text-decoration: none;
        background-color: white;
        opacity: .9;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        max-width: 200px;
        transition: all .3s ease;
        margin-bottom: 15px;
        box-sizing: border-box; }
        body .challenge-form .opponent-picker .opponent:hover {
          opacity: 1; }
        body .challenge-form .opponent-picker .opponent .user-name {
          margin-top: 0;
          margin-bottom: 10px; }
        body .challenge-form .opponent-picker .opponent .user-image {
          margin: 0 auto;
          width: 100px;
          height: 100Px;
          background-image: url(Components/images/default_user.svg);
          background-size: cover; }
          body .challenge-form .opponent-picker .opponent .user-image img {
            width: 100%; }
        body .challenge-form .opponent-picker .opponent .record {
          margin-top: 10px;
          margin-bottom: 0; }
  body .signout {
    background-image: url(Components/images/logout.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 30px;
    background-size: 14px;
    border-radius: 2px;
    border: none;
    background-color: white;
    opacity: .5;
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 20px;
    transition: all .3s ease; }
    body .signout:hover {
      opacity: 1; }
  body .spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px; }
  body .spinner > div {
    background-color: #ffeb3b;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out; }
  body .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  body .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
  body .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  body .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
