body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #e7fcff;
  .form-container{
    text-align: center;
    form{
      width: 400px;
      margin: 0 auto;
      border: 1px solid black;
      border-radius: 4px;
      background-color: #FFF;
      padding: 20px;
      margin-bottom: 10px;
      h1{
        text-align: center;
      }
      label{
        text-align: left;
        display: block;
        margin: 10px auto;
        width: fit-content;
      }
      input{
        display: block;
        margin: 0 auto;
      }
    }
  }

  .dashboard{
    text-align: center;
    ul{
      list-style: none;
      padding: 0;
      .play-button{
        margin-left: 6px;
      }
    }
  }
  .game{
    .game-board{
      width: 525px;
      margin: 0 auto;
      max-width: 90%;
      .status{
        margin-bottom: 20px;
        font-size: 40px;
      }
      .tic-tac-toe, .connect-4{
        .board-row{
          display: flex;
          .space{
            padding: 0;
            background-color: #fff;
            border: 4px solid black;
            transition: background-color 0.5s ease;
            &:focus{
              outline: none;
            }
            &.X{
              background: url(images/X.png);
              background-size: cover;
            }
            &.O{
              background: url(images/O.png);
              background-size: cover;
            }
          }
        }
      }
      .tic-tac-toe{
        .board-row{
        .space{
          border-radius: 0;
          width: calc(100% / 3);
          height: 0;
          padding-bottom: calc(100% / 3 - 8px);
          font-size: 150px;
          @media (max-width: 625px){
            font-size: 85px;
          }
        }
      }
      }
      .connect-4{
        .board{
          display: flex;
          .board-row{   
           flex-direction: column-reverse;
           background-color: darkblue;
           display: flex;
           width: calc(100% / 7);
           .space{
            border-color: darkblue;
            border-radius: 50%;
            width: 100%;
            height: 0;
            padding-bottom: calc(100% - 8px);
            box-sizing: border-box;
            &.yellow{
              background-color: yellow;
            }
            &.red{
              background-color: red;
            }
          }
        }
      }
    }
  }
  .back-button{
    display: block;
    margin: 20px auto 0;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    &:hover{
      background-color: grey;
    }
  }
}
}
