body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #e7fcff;
  .form-container{
    text-align: center;
    form{
      width: 400px;
      margin: 0 auto;
      border: 1px solid black;
      border-radius: 4px;
      background-color: #FFF;
      padding: 20px;
      margin-bottom: 10px;
      h1{
        text-align: center;
      }
      p.error{
        color: #e53935;
      }
      label{
        text-align: left;
        display: block;
        margin: 10px auto;
        width: fit-content;
      }
      input{
        display: block;
        margin: 0 auto;
      }
    }
  }

  .dashboard{
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    ul{
      list-style: none;
      padding: 0;
      border: 1px solid lightgrey;
      border-radius: 4px;
      background-color: white;
      li{
        &:not(:last-of-type){
          border-bottom: 1px solid lightgrey;
        }
        &:hover{
          background-color: lightgrey;
        }
        a{
          padding: 10px;
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 14px;
          justify-content: space-between;
          span.game-logo{
            height: 40px;
            width: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
            &.TicTacToe{
              background-image: url(Components/images/TicTacToe.png);
            }
            &.Connect4{
              background-image: url(Components/images/Connect4.png);
            }
          }
          span.game-text{
            font-size: 25px;
            width: calc(100% - 110px);
            text-align: left;
          }
          span.time-ago{
            margin-left: 10px;
            font-size: 10px;
            font-style: italic;
          }
          span.turn{
            width: 60px;
            text-align: left;
          }
        }
      }
    }
  }
}
