body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #e7fcff; }
  body .facebook {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Components/images/facebook_logo.svg);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 8px;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px; }
  body .no-facebook {
    width: 280px;
    text-align: right;
    margin: 5px auto 0;
    color: #1976d2;
    cursor: pointer; }
  body .facebook-login {
    background-image: url(Components/images/facebook_logo.svg);
    position: absolute;
    right: 5px;
    top: calc(100% + 5px);
    height: 25px;
    width: 25px;
    background-size: cover;
    cursor: pointer;
    border-radius: 2px; }
  body .form-container {
    text-align: center; }
    body .form-container form {
      position: relative;
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
      border: 1px solid black;
      border-radius: 4px;
      background-color: #FFF;
      padding: 20px;
      margin-bottom: 10px; }
      body .form-container form h1 {
        text-align: center; }
      body .form-container form p.error {
        color: #e53935; }
      body .form-container form label {
        text-align: left;
        display: block;
        margin: 10px auto;
        width: fit-content; }
      body .form-container form input {
        display: block;
        margin: 0 auto; }
  body .dashboard {
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 0 auto; }
    body .dashboard .flash {
      color: #a94442;
      background-color: #f2dede;
      border: 1px solid #ebccd1;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 10px; }
    body .dashboard .dashboard-header {
      position: relative; }
      body .dashboard .dashboard-header .record {
        position: absolute;
        right: 0;
        top: 0; }
      body .dashboard .dashboard-header .challenge-button a {
        margin: 0 auto;
        background: red;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: 4px solid red;
        text-decoration: none;
        font-size: 30px;
        text-transform: uppercase;
        transition: all .3s ease; }
        body .dashboard .dashboard-header .challenge-button a:hover {
          color: red;
          background-color: white; }
    body .dashboard ul {
      list-style: none;
      padding: 0;
      border: 1px solid lightgrey;
      border-radius: 4px;
      background-color: white; }
      body .dashboard ul li:not(:last-of-type) {
        border-bottom: 1px solid lightgrey; }
      body .dashboard ul li:hover {
        background-color: lightgrey; }
      body .dashboard ul li a {
        padding: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 14px;
        justify-content: space-between; }
        body .dashboard ul li a span.game-logo {
          height: 40px;
          width: 40px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 10px;
          background-position: center; }
          body .dashboard ul li a span.game-logo.TicTacToe {
            background-image: url(Components/images/TicTacToe.png); }
          body .dashboard ul li a span.game-logo.Connect4 {
            background-image: url(Components/images/Connect4.png); }
          body .dashboard ul li a span.game-logo.Hex {
            background-image: url(Components/images/Hex.jpg); }
        body .dashboard ul li a span.game-text {
          font-size: 25px;
          width: calc(100% - 110px);
          text-align: left; }
          @media (max-width: 479px) {
            body .dashboard ul li a span.game-text {
              font-size: 20px; } }
        body .dashboard ul li a span.time-ago {
          margin-left: 10px;
          font-size: 10px;
          font-style: italic; }
        body .dashboard ul li a span.turn {
          width: 60px;
          text-align: left; }
  body .challenge-form {
    text-align: center; }
    body .challenge-form .game-picker {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      body .challenge-form .game-picker .game-button-wrapper {
        width: 100%;
        max-width: 250px; }
        body .challenge-form .game-picker .game-button-wrapper .button {
          margin-bottom: 20px;
          height: 200px;
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer; }
          body .challenge-form .game-picker .game-button-wrapper .button.TicTacToe {
            background-image: url(Components/images/TicTacToe.png); }
          body .challenge-form .game-picker .game-button-wrapper .button.Connect4 {
            background-image: url(Components/images/Connect4.png); }
          body .challenge-form .game-picker .game-button-wrapper .button.Hex {
            background-image: url(Components/images/Hex.jpg); }
    body .challenge-form .opponent-picker {
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 4px;
      max-width: 500px;
      margin: 0 auto; }
      body .challenge-form .opponent-picker a {
        padding: 14px;
        text-decoration: none; }
        body .challenge-form .opponent-picker a:not(:last-of-type) {
          border-bottom: 1px solid lightgrey; }
        body .challenge-form .opponent-picker a:hover {
          background-color: lightgrey; }
  body .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0px auto; }
  body .double-bounce1, body .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1ba6dd;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out; }
  body .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
