@import 'btn.scss'; 
html, body, #root, .app, .dashboard, .challenge-form, .game{
  min-height: 100vh;
  position: relative;
} 
body {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0 0;
  background-color: #2196f3;
  .facebook{
    width: 250px;
    margin: 150px auto 0;
    cursor: pointer;
    display: block;
    border-radius: 3px;
  }
  .no-facebook{
    width: 250px;
    text-align: right;
    margin: 5px auto 0;
    color: #3c5898;
    cursor: pointer;
  }
  .facebook-login{
    background-image: url(Components/images/facebook_logo.svg);
    position: absolute;
    right: 5px;
    top:calc(100% + 5px);
    height: 25px;
    width: 25px;
    background-size: cover;
    cursor: pointer;
    border-radius: 2px;
  }
  .form-container{
    text-align: center;

    form{
      position: relative;
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
      border: 1px solid black;
      border-radius: 4px;
      background-color: #FFF;
      padding: 20px;
      margin-bottom: 10px;
      h1{
        text-align: center;
      }
      p.error{
        color: #e53935;
      }
      label{
        text-align: left;
        display: block;
        margin: 10px auto;
        width: fit-content;
      }
      input{
        display: block;
        margin: 0 auto;
      }
    }
  }

  .dashboard{
    max-width: 1440px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    .flash{
      color: #a94442;
      background-color: #f2dede;
      border: 1px solid #ebccd1;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
      width: 90%;
      margin: 0 auto;
    }
    .dashboard-header{
      display: flex;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .record{
        color: white;
        opacity: .9;
        h4{
          margin:0 0 5px;
        }
        p{
          margin: 0
        }

      }
      .challenge-button{ 
        a{
          margin: 0 auto;
          background: white;
          opacity: .5;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #757575;
          text-decoration: none;
          font-size: 45px;
          text-transform: uppercase;
          transition: all .3s ease;
          &:hover{
            opacity: 1;
            background-color: white;
            color: black;
          }
        }
      }
    }
    >div{
      width: 100%;
      .completedGames, .activeGames{
        margin-bottom: 10px;
        width: 100%;
      }

      .completedGames{
        margin-bottom: 30px;
        ul{
          li.your-turn, li.opponent-turn{
            opacity: .9;
            a{
              padding-top: 5px;
              p{
                &.turn{
                  font-size: 24px;
                  line-height: 28px;
                }
                &.game-text{
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
      ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;
        width: 1020px;
        @media (max-width: 1099px) {
          width: 850px;
        }
        @media (max-width: 929px) {
          width: 680px;
        }
        @media (max-width: 768px) {
          width: 664px;
        }
        @media (max-width: 703px) {
          width: 498px;
        }
        @media (max-width: 537px) {
          width: 332px;
        }
        li{
          background-color: white;
          width: 150px;
          margin: 0 10px 30px;
          border-radius: 4px;
          transition: all .3s ease;
          box-sizing: border-box;
          @media (max-width: 768px) {
            margin-left: 8px;
            margin-right: 8px;
          }
          &.your-turn{
            opacity: .9;
            p{
              &.turn{
                color: #28a745;
              }
            }
          }
          &.opponent-turn{
            opacity: .5;
            p{
              &.turn{
                color: black;
              }
            }
          }
          &.winner{
            border: 3px solid gold;
          }
          &.loser{
            border: 3px solid red;
          }
          &.tie{
            border: 3px solid #cd7f32;
          }
          &:hover{
            opacity: 1;
          }
          a{
            padding: 10px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            text-align: center;
            padding-bottom: 2px;
            .game-logo{
              display: block;
              height: 0;
              padding-bottom: 70%;
              margin: 0 auto;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              &.TicTacToe{
                background-image: url(Components/images/TicTacToe.png);
              }
              &.Connect4{
                background-image: url(Components/images/Connect4.png);
              }
              &.Hex{
                background-image: url(Components/images/Hex.jpg);
              }
            }
            p{
              margin: 0;
              &.game-text{
                margin-top: 8px;
                margin-bottom: 8px;
                font-size: 18px;
                color: #001dbf;
              }
              &.time-ago{
                font-size: 10px;
                font-style: italic;
                text-align: right;
                margin-top: 8px;
                color: grey;
              }
              &.turn{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  .challenge-form{
    position: relative;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 60px;
    h3{
      margin-bottom: 30px;
    }
    .game-picker{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .game-button-wrapper{
        background-color: white;
        opacity: .9;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        max-width: 250px;
        transition: all .3s ease;
        margin-bottom: 15px;
        box-sizing: border-box;
        &:hover{
          opacity: 1;
        }
        .button{
          margin-bottom: 20px;
          height: 200px;
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          &.TicTacToe{
            background-image: url(Components/images/TicTacToe.png);
          }
          &.Connect4{
            background-image: url(Components/images/Connect4.png);
          }
          &.Hex{
            background-image: url(Components/images/Hex.jpg);
          }
        }
      }
    }
    .opponent-picker{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .opponent{
        margin: 10px;
        text-decoration: none;
        background-color: white;
        opacity: .9;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        max-width: 200px;
        transition: all .3s ease;
        margin-bottom: 15px;
        box-sizing: border-box;
        &:hover{
          opacity: 1;
        }
        .user-name{
          margin-top: 0;
          margin-bottom: 10px;
        }
        .user-image{
          margin: 0 auto;
          width: 100px;
          height: 100Px;
          background-image: url(Components/images/default_user.svg);
          background-size: cover;
          img{
            width: 100%;
          }
        }
        .record{
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
    }
  }

  .signout{
    background-image: url(Components/images/logout.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 30px;
    background-size: 14px;
    border-radius: 2px;
    border: none;
    background-color: white;
    opacity: .5;
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 20px;
    transition: all .3s ease;
    &:hover{
      opacity: 1;
    }
  }

  .spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }

  .spinner > div {
    background-color: #ffeb3b;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
      }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }

  }