.hex-board {
  width: 85%;
  margin: 0 auto;
  .piece-display{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    &.red{
      background-color: red;
    }
    &.blue{
      background-color: blue;
    }
  }
  $boardWidth: 83%;
  $hexWidth: $boardWidth / 11;
  $hexHeight: $hexWidth * 1.1508610692;

  .board {
    max-width: 100%;
    width: $boardWidth;

  }


  .board {

    &.red svg.empty:hover polygon {
      fill: red !important;
    }

    &.blue svg.empty:hover polygon {
      fill: blue!important;
    }
  }

  .row {
    width:100%;
    display: flex;
    position: relative;
    @for $i from 1 through 10 {
      &:nth-child(#{$i + 1}) {
        left: #{$i* ($hexWidth/ 2)};
        margin-top: -1 * $hexHeight / 3
      }
    }

    svg {
      width: $hexWidth;
      height: $hexHeight;

      &.red {
        polygon {
          fill: red !important;
        }
      }

      &.blue {
        polygon {
          fill: blue !important;
        }
      }


      polygon {
        cursor: pointer;
        fill: white !important;
        stroke: gray!important;
        stroke-width: 10 !important;

      }
    }


  }

}
