@media only screen and (max-width: 767px) {
  .hex-board {
    margin: 0 auto;
    $boardWidth: 136%;
    $hexWidth: 100%;
    $hexHeight: $hexWidth * 1.1508610692 / 11;
    overflow: hidden;

    .board {
      width: $boardWidth;

    }


    .board {
      display: flex;
      &.red svg.empty:hover polygon {
        fill: red !important;
      }

      &.blue svg.empty:hover polygon {
        fill: blue!important;
      }
    }

    .row {
      width:calc(100% / 11);
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: $hexHeight * 11;
      @for $i from 1 through 10 {
        &:nth-child(#{$i + 1}) {
          left: #{-1 * $i * 100% / 11 * .288675134595};
          margin-top: 3.9% * $i;
        }
      }

      svg {
        width: $hexWidth;
        height: $hexHeight;
        flex-grow: 0;

        polygon {
          cursor: pointer;
          fill: white;
          stroke: gray!important;
          stroke-width: 10 !important;

        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .hex-board {
    margin: 0 auto;
    $boardWidth: 83%;
    $hexWidth: $boardWidth / 11;
    $hexHeight: $hexWidth * 1.1508610692;

    .board {
      max-width: 100%;
      width: $boardWidth;

    }


    .board {

      &.red svg.empty:hover polygon {
        fill: red !important;
      }

      &.blue svg.empty:hover polygon {
        fill: blue!important;
      }
    }

    .row {
      width:100%;
      display: flex;
      position: relative;
      @for $i from 1 through 10 {
        &:nth-child(#{$i + 1}) {
          left: #{$i* ($hexWidth/ 2)};
          margin-top: -1 * $hexHeight / 3
        }
      }

      svg {
        width: $hexWidth;
        height: $hexHeight;

        polygon {
          cursor: pointer;
          fill: white;
          stroke: gray!important;
          stroke-width: 10 !important;

        }
      }


    }

  }
}