.game {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-top: 5px; }
  .game .game-board {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 75px; }
  .game .status {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    .game .status > div:nth-of-type(1) {
      font-size: 30px;
      margin: 0; }
    .game .status .rematch {
      position: initial; }
  .game .last-move {
    border-color: #7cfc00 !important; }
  .game .top-game-section {
    width: calc(100% - 10px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }
    .game .top-game-section .quit {
      width: 50px; }
  .game .player-display {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0; }
    .game .player-display > div {
      padding: 10px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      .game .player-display > div .user-info {
        width: calc(100% - 45px);
        text-align: center; }
        .game .player-display > div .user-info p {
          margin: 0; }
      .game .player-display > div .image-wrapper {
        position: relative; }
        .game .player-display > div .image-wrapper .nudge {
          background-image: url(./../images/nudge.svg);
          background-position: center calc(100% + 5px);
          background-size: 20px;
          background-repeat: no-repeat;
          height: 50px;
          width: 45px;
          position: absolute;
          right: 0px;
          bottom: 0px;
          padding: 0;
          background-color: transparent;
          border: none;
          display: block;
          cursor: pointer;
          position: absolute; }
      .game .player-display > div:nth-of-type(2) {
        /*justify-content: flex-end;*/ }
      .game .player-display > div.winner {
        border: 2px solid gold; }
      .game .player-display > div.watching img {
        border: 3px solid;
        animation: glow 1.5s infinite ease-in-out; }

@keyframes glow {
  0% {
    border-color: #59fb4b; }
  50% {
    border-color: rgba(89, 251, 75, 0.7); }
  100% {
    border-color: #59fb4b; } }
      .game .player-display > div.self img {
        border: none;
        animation: none; }
      .game .player-display > div.self .nudge {
        display: none; }
      .game .player-display > div img {
        box-sizing: border-box;
        height: 45px;
        width: 45px;
        border-radius: 50%; }
