.game {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-top: 5px;
  .game-board{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 75px;
  }
  .status{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    >div:nth-of-type(1){
      font-size: 30px;
      margin: 0;
    }
    .rematch{
      position: initial;
    }
  }
  .last-move{
    border-color: #7cfc00 !important;
  }
  .top-game-section{
    width: calc(100% - 10px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .quit{
      width: 50px;
    }
  }
  .player-display{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    >div{
      padding: 10px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .user-info{
        width: calc(100% - 45px);
        text-align: center;
        p{
          margin: 0;
        }
      }
      .image-wrapper{
        position: relative;
        .nudge{
          background-image: url(./../images/nudge.svg);
          background-position: center calc(100% + 5px);
          background-size: 20px;
          background-repeat: no-repeat;
          height: 50px;
          width: 45px;
          position: absolute;
          right: 0px;
          bottom: 0px;
          padding: 0;
          background-color: transparent;
          border: none;
          display: block;
          cursor: pointer;
          position: absolute;
        }
      }
      &:nth-of-type(2){
        /*justify-content: flex-end;*/
      }
      &.winner{
        border: 2px solid gold;
      }
      &.watching{
        img{
          border: 3px solid;
          animation: glow 1.5s infinite ease-in-out;
          @keyframes glow {
            0% {
             border-color: rgba(89, 251, 75, 1)
           }

           50% {
            border-color: rgba(89, 251, 75, .7)
          }
          100% {
            border-color: rgba(89, 251, 75, 1)
          }
        }
      }
    }
    &.self{
      img{
        border: none;
        animation: none;
      }
      .nudge{
        display: none;
      }
    }
    img{
      box-sizing: border-box;
      height: 45px;
      width: 45px;
      border-radius: 50%;
    }
  }
}
}
