.game {
  width: 525px;
  margin: 0 auto;
  max-width: 90%; }
  .game .nudge {
    background: white;
    opacity: .5;
    border-radius: 2px;
    border: none;
    padding: 3px 10px;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 10px;
    transition: all .3s ease; }
    .game .nudge:hover {
      opacity: 1; }
  .game .status {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .game .status p {
      margin: 0; }
  .game .last-move {
    border-color: #7cfc00 !important; }
  .game .bottom-game-section {
    display: flex;
    justify-content: center;
    position: relative; }
    .game .bottom-game-section .game-btn {
      display: block;
      margin-top: 20px;
      border-radius: 2px;
      position: initial;
      text-align: center; }
    .game .bottom-game-section .blue-dot {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 10px;
      top: 10px; }
      .game .bottom-game-section .blue-dot .double-bounce1, .game .bottom-game-section .blue-dot .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #ffeb3b;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out; }
      .game .bottom-game-section .blue-dot .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
