.game {
  .game-board{
    width: 525px;
    margin: 0 auto;
    max-width: 90%;
    .status{
      margin-bottom: 20px;
      font-size: 40px;
    }
    .board-row{
    }
  }
  .back-button{
    display: block;
    margin: 20px auto 0;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 40px;
    &:hover{
      background-color: grey;
    }
  }
}
