.tic-tac-toe-board {
  width: 525px;
  max-width: 100%;
  margin: 0 auto;
  .board-row{
    display: flex;
    .space{
      padding: 0;
      background-color: #fff;
      border: 4px solid black;
      transition: background-color 0.5s ease;
      &:focus{
        outline: none;
      }
      border-radius: 0;
      width: calc(100% / 3);
      height: 0;
      padding-bottom: calc(100% / 3 - 8px);
      font-size: 150px;
      @media (max-width: 625px){
        font-size: 85px;
      }

      &.X{
        background: url(images/X.png);
        background-size: cover;
      }
      &.O{
        background: url(images/O.png);
        background-size: cover;
      }
    }
  }
}
